{% macro generateTableHeadersFromColumnList(columnNamesAndAttrs) %}
    {# Generates table headers for the provided column Names and attributes object.
       May dynamically show an empty header if the makeTableHeader Column Web Attribute is set to False #}
    <tr>
        {% for columnName, attributes in columnNamesAndAttrs.items() %}
            <th> {{g.textMap[columnName] if attributes.makeTableHeader}} </th>
        {% endfor %}
    </tr>
{% endmacro %}

{% macro generateColumnGroupsForSqlColumns(tableColumnsAndAttrs) %}
    {# Generates column groups for the provided table columns and attributes object.
       One Col Tag is generated for each column with the visibility attribute set according to the associated ColumnWebAttributes instance #}
    {% if tableColumnsAndAttrs %}
        <colgroup>
            {% for columnAttributes in tableColumnsAndAttrs.values() %}
                <col span="1" style={{"visibility:" ~ columnAttributes.visibility}}>
            {% endfor %}
        </colgroup>
    {% endif %}
{% endmacro %}

{% macro displayResults(sqlresults) %}
    {# Generates a HTML table representing the provided SQL Query results: sqlresults
       The styling of the table is dynamically configured on a per-column basis as determined by the ColumnWebAttributes object associated with each column #}

    {# NOTE: Links/Events have not been implemented for the nested tables, may need to come back to this if it is desired #}

    {% set sqlResultData = sqlresults[0] %}
    {% if sqlResultData %}
        <table>
            {% set tableColumns = sqlresults[1] %}
            {% set columnGroupsToNestOn, columnsToNestOn = tableColumns.getColumnsToNestOnOrderedByPriority() %}
            {% if not columnsToNestOn %}
                    {# Build out a regular table for the provided SQL query results #}

                    {{ generateColumnGroupsForSqlColumns(tableColumns) }}
                    {{ generateTableHeadersFromColumnList(tableColumns) }}

                    {% for row in sqlResultData %}
                        <tr>
                            {% for columnName, colVal in row.items() %}
                                {% set columnAttributes = tableColumns[columnName] %}
                                <td>
                                    {% if columnAttributes.HasValidUrlData() %}
                                        <a href={{url_for(columnAttributes.urlData[0], keyorid=row[columnAttributes.urlData[2]])}}>
                                            {{columnAttributes.urlData[1] if not colVal else colVal }}
                                        </a>
                                    {% else %}
                                        {{ colVal }}
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
            {% else %}
                {# Build out a nested table with the SQL results data grouped by the defined nested columns in columnGroupsToNestOn #}

                {% set filteredColumnNames = tableColumns | getNewSubsetByColumnNames(columnsToNestOn, false) %}
                {% set nestColumnAttributes = tableColumns | getNewSubsetByColumnNames(columnsToNestOn) %}
                {{ generateColumnGroupsForSqlColumns(nestColumnAttributes) }}

                {% for nestColumnGroup in columnGroupsToNestOn %}
                    {% for groupKey, group in sqlResultData | groupSqlResultsByColumns(nestColumnGroup) %}
                        <tr>
                            {# These Nest Columns could be individually set to be collapsed as defined by their attributes #}
                            {% for keyval in groupKey %}
                                <td>{{keyval}}</td>
                            {% endfor %}
                            <td>
                                {# The nested table which consists of data grouped by the nest column data #}
                                <table>
                                    {{ generateColumnGroupsForSqlColumns(filteredColumnNames) }}
                                    {{ generateTableHeadersFromColumnList(filteredColumnNames) }}
                                    {% for row in group %}
                                        <tr>
                                            {% for columnName in filteredColumnNames %}
                                                <td>{{row[columnName]}}</td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </table>
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </table>
    {% else %}
        <p> No results found.</p>
    {% endif %}
{% endmacro %}

{% macro generateInputFields(formID, tableColumnsAndAttributes, legendText="Add New Entry") %}
    {# Builds out a form which gathers data for a SQL Insert dynamically based on the provided column names and attributes object.
       Form ID determines which table to insert into (Refer to web/web_display.py for the defined Form IDs). #}
    {% if tableColumnsAndAttributes %}
        <form method="post" autocomplete="off" id={{formID}}>
            {# Build out the form inputs regardless, but they will be disabled if any one of the input fields have invalid configuration,
            in order to prevent a user from triggering an INSERT error and to signal an error via the UI #}
            <fieldset {{disabled if not tableColumnsAndAttributes.HasValidInputs() }}>
                <legend> {{legendText}} </legend>
                {% for columnName, attributes in tableColumnsAndAttributes.items() %}
                    {% if attributes.InputType is not eq(g.InputTypes.NOTINPUT.value)%}
                        <label> {{ g.textMap[columnName] }} </label>
                        <br/>
                        {% if attributes.InputType is eq(g.InputTypes.DROPDOWN.value) %}
                            {% if attributes.HasValidDropDownData() %}
                                {% set dropDownData = attributes.dropDownData %}
                                <select id={{dropDownData[2]}} name={{dropDownData[2]}} {{required if attributes.requiredInput}}>
                                    {% for row in dropDownData[1] %}
                                        <option value={{row[dropDownData[0]]}}>{{row[columnName]}}</option>
                                    {% endfor %}
                                </select>
                            {% else %}
                                <p> Error: No Dropdown data found for dropdown input. </p>
                            {% endif %}
                        {% elif attributes.InputType is in g.InputTypes %}
                            <input type={{attributes.InputType}} min={{attributes.MinMaxStep[0]}} max={{attributes.MinMaxStep[1]}} step={{attributes.MinMaxStep[2]}} id={{columnName}} name={{columnName}} {{required if attributes.requiredInput}} >
                        {% else %}
                            <p> No Valid Input Type. </p>
                        {% endif %}
                        <br/>
                    {% endif %}
                {% endfor %}
                <button type="submit"> Submit </button>
                <input type="hidden" id={{formID}} name="formid" value={{formID}}> {# Hidden input field so that we can store an identifier for the form submission allowing us to know which table to insert into #}
            </fieldset>
        </form>
    {% endif %}
{% endmacro %}