{% macro generateTableHeadersFromColumnList(columnNamesAndAttrs) %}
    <tr>
        {% for columnName, attributes in columnNamesAndAttrs.items() %}
            <th> {% if attributes.makeTableHeader %} {{g.textMap[columnName]}} {% endif %} </th>
        {% endfor %}
    </tr>
{% endmacro %}

{% macro generateColumnGroupsForSqlColumns(tableColumnsAndAttrs) %}
    {% if tableColumnsAndAttrs %}
        <colgroup>
            {% for columnAttributes in tableColumnsAndAttrs.values() %}
                <col span="1" style={{"visibility:" ~ columnAttributes.visibility}}>
            {% endfor %}
        </colgroup>
    {% endif %}
{% endmacro %}

{% macro displayResults(sqlresults) %}
    {% set sqlResultData = sqlresults[0] %}
    {% if sqlResultData %}
        <table>
            {% set tableColumns = sqlresults[1] %}
            {% set columnGroupsToNestOn, columnsToNestOn = tableColumns.getColumnsToNestOnOrderedByPriority() %}
            {% if not columnsToNestOn %}
                    {{ generateColumnGroupsForSqlColumns(tableColumns) }}
                    {{ generateTableHeadersFromColumnList(tableColumns) }}

                    {% for row in sqlResultData %}
                        <tr>
                            {% for columnName, colVal in row.items() %}
                                {% set columnAttributes = tableColumns[columnName] %}
                                <td>
                                    {% if columnAttributes.HasValidUrlData() %}
                                        <a href={{url_for(columnAttributes.urlData[0], keyorid=row[columnAttributes.urlData[2]])}}>
                                            {% if not colVal %}
                                                {{columnAttributes.urlData[1]}}
                                            {% else %}
                                                {{colVal}}
                                            {% endif %}
                                        </a>
                                    {% else %}
                                        {{colVal}}
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
            {% else %}
                {% set filteredColumnNames = tableColumns | getNewSubsetByColumnNames(columnsToNestOn, false) %}
                {% set nestColumnAttributes = tableColumns | getNewSubsetByColumnNames(columnsToNestOn) %}
                {{ generateColumnGroupsForSqlColumns(nestColumnAttributes) }}
                {% for nestColumnGroup in columnGroupsToNestOn %}
                    {% for groupKey, group in sqlResultData | groupSqlResultsByColumns(nestColumnGroup) %}
                        <tr>
                            {% for keyval in groupKey %}
                                <td>{{keyval}}</td>
                            {% endfor %}
                            <td>
                                <table>
                                    {{ generateColumnGroupsForSqlColumns(filteredColumnNames) }}
                                    {{ generateTableHeadersFromColumnList(filteredColumnNames) }}
                                    {% for row in group %}
                                        <tr>
                                            {% for columnName in filteredColumnNames %}
                                                <td>{{row[columnName]}}</td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </table>
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </table>
    {% else %}
        <p> No results found.</p>
    {% endif %}
{% endmacro %}

{% macro generateInputFields(formID, tableColumnsAndAttributes) %}
    {% if tableColumnsAndAttributes %}
        <form method="post" autocomplete="off" name="addrow">
            <fieldset {% if not tableColumnsAndAttributes.HasValidInputs() %} disabled {% endif %}>
                <legend> Add New Entry </legend>
                {% for columnName, attributes in tableColumnsAndAttributes.items() %}
                    {% if attributes.InputType is not eq(g.InputTypes.NOTINPUT.value)%}
                        <label> {{ g.textMap[columnName] }} </label>
                        <br/>
                        {% if attributes.InputType is eq(g.InputTypes.DROPDOWN.value) %}
                            {% if attributes.HasValidDropDownData() %}
                                {% set dropDownData = attributes.dropDownData %}
                                <select id={{dropDownData[2]}} name={{dropDownData[2]}} {% if attributes.requiredInput %} required {% endif %}>
                                    {% for row in dropDownData[1] %}
                                        <option value={{row[dropDownData[0]]}}>{{row[columnName]}}</option>
                                    {% endfor %}
                                </select>
                            {% else %}
                                <p> Error: No Dropdown data found for dropdown input. </p>
                            {% endif %}
                        {% elif attributes.InputType is in g.InputTypes %}
                            <input type={{attributes.InputType}} min={{attributes.MinMaxStep[0]}} max={{attributes.MinMaxStep[1]}} step={{attributes.MinMaxStep[2]}} id={{columnName}} name={{columnName}} {% if attributes.requiredInput %} required {% endif %} >
                        {% else %}
                            <p> No Valid Input Type. </p>
                        {% endif %}
                        <br/>
                    {% endif %}
                {% endfor %}
                <input type="submit" value="submit">
                <input type="hidden" id={{formID}} name="formid" value={{formID}}>
            </fieldset>
        </form>
    {% endif %}
{% endmacro %}