{% macro generateTableHeadersFromColumnList(columnList) %}
    <tr>
        {% for columnName in columnList %}
            <th>{{g.textMap[columnName]}}</th>
        {% endfor %}
    </tr>
{% endmacro %}

{% macro generateColumnGroupsForSqlColumns(tableColumns) %}
    {% if tableColumns %}
        <colgroup>
            {% for columnAttributes in tableColumns.values() %}
                <col span="1" style={{"visibility:" ~ columnAttributes.visibility}}>
            {% endfor %}
        </colgroup>
    {% endif %}
{% endmacro %}

{% macro displayResults(sqlresults, urlFuncName='', rowLinkText='Placeholder', rowLinkKeyOrIdColumnName='') %}
    {% set sqlResultData = sqlresults[0] %}
    {% if sqlResultData %}
        <table>
            {% set tableColumns = sqlresults[1] %}
            {% set columnGroupsToNestOn, columnsToNestOn = tableColumns.getColumnsToNestOnOrderedByPriority() %}
            {% if not columnsToNestOn %}
                    {{ generateColumnGroupsForSqlColumns(tableColumns) }}
                    {{ generateTableHeadersFromColumnList(tableColumns) }}

                    {% for row in sqlResultData %}
                        <tr>
                            {% for colVal in row.values() %}
                                <td>{{colVal}}</td>
                            {% endfor %}
                            {% if urlFuncName and rowLinkKeyOrIdColumnName %}
                                <td><a href={{url_for(urlFuncName,keyorid=row[rowLinkKeyOrIdColumnName])}}> {{rowLinkText}} </a></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
            {% else %}
                {% set filteredColumnNames = tableColumns | getNewSubsetByColumnNames(columnsToNestOn, false) %}
                {% set nestColumnAttributes = tableColumns | getNewSubsetByColumnNames(columnsToNestOn) %}
                {{ generateColumnGroupsForSqlColumns(nestColumnAttributes) }}
                {% for nestColumnGroup in columnGroupsToNestOn %}
                    {% for groupKey, group in sqlResultData | groupSqlResultsByColumns(nestColumnGroup) %}
                        <tr>
                            {% for keyval in groupKey %}
                                <td>{{keyval}}</td>
                            {% endfor %}
                            <td>
                                <table>
                                    {{ generateColumnGroupsForSqlColumns(filteredColumnNames) }}
                                    {{ generateTableHeadersFromColumnList(filteredColumnNames) }}
                                    {% for row in group %}
                                        <tr>
                                            {% for columnName in filteredColumnNames %}
                                                <td>{{row[columnName]}}</td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </table>
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </table>
    {% else %}
        <p> No results found.</p>
    {% endif %}
{% endmacro %}

{% macro generateInputFields(formID, tableColumnsAndAttributes) %}
    {% if tableColumnsAndAttributes %}
        <form method="post" autocomplete="off" name="addrow">
            {% for columnName, attributes in tableColumnsAndAttributes.items() %}
                {% if attributes.canBeInput %}
                    <label> {{ columnName }} </label>
                    <br/>
                    {% set dropDownData = attributes.dropDownData %}
                    {% if dropDownData is not none %}
                        <select id={{dropDownData[2]}} name={{dropDownData[2]}} {% if not dropDownData %} disabled {% endif %} {% if attributes.requiredInput %} required {% endif %}>
                            {% for row in dropDownData[1] %}
                                <option value={{row[dropDownData[0]]}}>{{row[columnName]}}</option>
                            {% endfor %}
                        </select>
                    {% else %}
                        <input type="text" id={{columnName}} name={{columnName}} {% if attributes.requiredInput %} required {% endif %} >
                    {% endif %}
                    <br/>
                {% endif %}
            {% endfor %}
            <input type="submit" value="submit">
            <input type="hidden" id={{formID}} name="formid" value={{formID}}>
        </form>
    {% endif %}
{% endmacro %}