{% extends "base/layout.html" %}

{% block title %} Car {% endblock %}

{% block main %}
    <a href={{url_for('web_home.main_page')}}> Home </a>

    {{ tables.displayResults('singlecar', carssqlres) }}
    {% if request.path.startswith("/car/edit") %}
        {{forms.generateStandardEntryForm('edit_car', carssqlres[1], legendText="Edit Entry", prefilldata=carssqlres[0][0])}}
    {% endif %}

    {% if itemssqlres %}
        {{ tables.displayResults('items', itemssqlres) }}
        {{ forms.generateStandardEntryForm('items', itemssqlres[1]) }}
    {% endif %}

    {% if igtsqlres %}
        {{ tables.displayResults('igt', igtsqlres, nestRowThreshold=1) }}
        {{ forms.generateTableEntryForm('igt', igtsqlres[1], igtFormTablePreFillData) }}
    {% endif %}

    {% if workeffortssqlres %}
        {{ tables.displayResults('workefforts', workeffortssqlres) }}
        {{ forms.generateStandardEntryForm('workefforts', workeffortssqlres[1]) }}
    {% endif %}
{% endblock %}