{% extends "base/layout.html" %}

{% block title %} Car {% endblock %}

{% block main %}
    <a href={{url_for('web_home.main_page')}}> Home </a>

    {{ tables.displayResults('singlecar', carssqlres) }}
    {% set endpointViewName = request.endpoint.split(".")[-1] %}
    {% set carkey = request.view_args['keyorid'] %}
    {% if endpointViewName == "car_edit" %}
        {{forms.generateStandardEntryForm('edit_car', carssqlres[1], legendText="Edit Entry", prefilldata=carssqlres[0][0])}}
    {% else %}
        <ul>
            <li><a href={{url_for('web_car.car_items', keyorid=carkey)}}>Items</a></li>
            <li><a href={{url_for('web_car.car_igt', keyorid=carkey)}}>Item groups</a></li>
        </ul>

        {% if endpointViewName == "car_items" %}
            {{ tables.displayResults('items', itemssqlres) }}
            {{ forms.generateStandardEntryForm('items', itemssqlres[1]) }}
        {% elif endpointViewName == "car_igt" %}
            {{ tables.displayResults('igt', igtsqlres, nestRowThreshold=1, captiontext="Item Groups i.e. Itemized Purchases | To view all items use the above Items Link") }}
            {{ forms.generateTableEntryForm('igt', igtsqlres[1], igtFormTablePreFillData) }}
        {% endif %}

        {{ tables.displayResults('workefforts', workeffortssqlres) }}
        {{ forms.generateStandardEntryForm('workefforts', workeffortssqlres[1]) }}
    {% endif %}
{% endblock %}