<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table, td, th { border: 2px solid gray }
    </style>
    <meta charset="UTF-8">
    <title>Car</title>
</head>
<body>
    <a href={{url_for('main_page')}}> Home </a>
    {% import 'modules/helper.html' as helper %}
    {{ helper.displayResults(carssqlres) }}

    {{ helper.displayResults(partssqlres) }}
    {{ helper.generateInputFields('parts', partssqlres[1]) }}

    {{ helper.displayResults(workeffortssqlres) }}
    {{ helper.generateInputFields('workefforts', workeffortssqlres[1]) }}
</body>
</html>