<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table, td, th {border: 2px solid gray;}
        table {border-collapse: collapse;}
        fieldset {max-inline-size: fit-content}
    </style>
    <meta charset="UTF-8">
    <title>Car</title>
</head>
<body>
    <a href={{url_for('main_page')}}> Home </a>
    {% import 'modules/helper.html' as helper %}
    {{ helper.displayResults(carssqlres) }}
    {% if request.path.startswith("/car/edit") %}
        {{helper.generateInputFields('edit_car', carssqlres[1], legendText="Edit Entry")}}
    {% endif %}

    {% if partssqlres %}
        {{ helper.displayResults(partssqlres) }}
        {{ helper.generateInputFields('parts', partssqlres[1]) }}
    {% endif %}

    {% if workeffortssqlres %}
        {{ helper.displayResults(workeffortssqlres) }}
        {{ helper.generateInputFields('workefforts', workeffortssqlres[1]) }}
    {% endif %}
</body>
</html>