<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table, td {border: 2px solid gray }
    </style>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
    {% import 'modules/helper.html' as helper %}
    {{ helper.displayResults(carssqlres, urlFuncName='car_page', rowLinkText='View', rowLinkKeyOrIdColumnName='HIDE_CarID') }}
    {{ helper.generateInputFields('cars', carstablecolsdd) }}

    {{ helper.displayResults(employeessqlres) }}
    {{ helper.generateInputFields('employees', employeestablecolsdd) }}
</body>
</html>