<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table, td, th {border: 2px solid gray;}
        table {border-collapse: collapse;}
        fieldset {max-inline-size: fit-content;}
    </style>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
    {% import 'modules/helper.html' as helper %}
    {{ helper.displayResults(carssqlres) }}
    {{ helper.generateInputFields('cars', carssqlres[1]) }}

    {{ helper.displayResults(employeessqlres) }}
    {{ helper.generateInputFields('employees', employeessqlres[1]) }}
    John is trying to push stuff to John's project. John is breaking stuff so John can fix it.
</body>
</html>